body {
  margin: 0;
  font-family: -apple-system, 'Proxima Nova', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202020;
}

code {
  font-family: monospace;
}
